asgiref==3.5.0
astroid==2.11.2
autopep8==1.6.0
colorama==0.4.4
dill==0.3.4
Django==4.0.4
django-appconf==1.0.5
django-bootstrap-form==3.4
django-nested-inline==0.4.5
django-user-accounts==3.2.0
django-widget-tweaks==1.4.8
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
Pillow==9.1.0
platformdirs==2.5.1
pycodestyle==2.8.0
pylint==2.13.5
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tomli==2.0.1
tzdata==2022.1
wrapt==1.12.1
