asgiref
astroid
autopep8
certifi
charset-normalizer
colorama
colorclass
dill
Django
django-appconf
django-bootstrap-form
django-nested-inline
django-redis
django-select2
django-user-accounts
django-widget-tweaks
docopt
idna
isort
lazy-object-proxy
mccabe
packaging
Pillow
pip-upgrader
platformdirs
pycodestyle
pylint
pytz
redis
requests
six
sqlparse
terminaltables
toml
tomli
tomlkit
typing_extensions
tzdata
urllib3
wrapt
