{% extends 'accounts/dashboard-base.html' %} {% load static %}{% load humanize %}
<!-- Content Wrapper. Contains page content -->
{% block more_css %}
	<link rel="stylesheet" href="{% static 'account/vendor/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"/>
	
	<!-- Select2 -->
	<link rel="stylesheet" href="{% static 'account/vendor/select2/css/select2.min.css' %}"/>
	
	<!-- ION rangeslider -->
	<link rel="stylesheet" href="{% static 'account/vendor/ion-rangeslider/css/ion.rangeSlider.min.css' %}">

	<link rel="stylesheet" href="{% static 'cv/css/custom.css' %}"/>
{% endblock more_css %} {% block content-wrapper %}
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Project Edit</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Project Edit</li>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<form class="content" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-6">
					<div class="card card-info">
						<div class="card-header">
							<h3 class="card-title">General</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="inputName">Project Title</label>

								{% if form.title.errors %}
									<input name="title" type="text" id="inputName" class="form-control is-invalid">
								{% else %}
									<input name="title" type="text" id="inputName" class="form-control">
								{% endif %}

								{% for error in form.title.errors %}
									<span class="text-danger">{{ error|escape }}</span>
									<br>
								{% endfor %}
							</div>
							<div class="form-group">
								<label for="inputDescription">Project Description</label>

								{% if form.description.errors %}
									<textarea name="description" id="inputDescription" class="form-control is-invalid"
											  rows="4"></textarea>
								{% else %}
									<textarea name="description" id="inputDescription" class="form-control"
											  rows="4"></textarea>
								{% endif %}

								{% for error in form.description.errors %}
									<span class="text-danger">{{ error|escape }}</span>
									<br>
								{% endfor %}
							</div>
							<div class="form-group">
								<label for="inputStatus">Status</label>

								{% if form.status.errors %}
									<select id="inputStatus" class="form-control is-invalid custom-select"
											name="status">
								{% else %}
									<select id="inputStatus" class="form-control custom-select" name="status">
								{% endif %}

								<option selected disabled>Select one</option>
								<option>On Hold</option>
								<option>On Going</option>
								<option>Canceled</option>
								<option>Success</option>
								</select>
								{% for error in form.status.errors %}
									<span class="text-danger">{{ error|escape }}</span>
									<br>
								{% endfor %}
							</div>
							<div class="form-group">
								<label for="inputClientCompany">Client Company</label>

								{% if form.client.errors %}
									<input name="client" type="text" id="inputClientCompany"
										   class="form-control is-invalid">
								{% else %}
									<input name="client" type="text" id="inputClientCompany" class="form-control">
								{% endif %}

								{% for error in form.client.errors %}
									<span class="text-danger">{{ error|escape }}</span>
									<br>
								{% endfor %}
								
								<label class="mt-2" for="progress">Progress Percentage</label>
								<div class="col-8">
									<input id="progress_slidebar" type="text" name="progress" value="">
								</div>
							</div>

							<div class="form-group">
								
							</div>

							{% comment %}
								<!-- <div class="form-group">
								<label for="inputProjectLeader">Project Leader</label>
	
								{% if form.leader.errors %}
								<input name="leader" type="text" id="inputProjectLeader" class="form-control is-invalid">
								{% else %}
								<input name="leader" type="text" id="inputProjectLeader" class="form-control">
								{% endif %}
	
								{% for error in form.leader.errors %}
								<span class="text-danger">{{error|escape}}</span>
								<br>
								{% endfor %}
							</div> -->
							{% endcomment %}

							<div class="form-group has-error">
								<label for="reservationdatetime">Project Start Date</label>
								<div class="input-group date" id="reservationdatetime" data-target-input="nearest">

									{% if form.start_date.errors %}
										<input name="start_date" type="text"
											   class="form-control is-invalid datetimepicker-input"
											   data-target="#reservationdatetime"/>
									{% else %}
										<input name="start_date" type="text" class="form-control datetimepicker-input"
											   data-target="#reservationdatetime"/>
									{% endif %}

									<div class="input-group-append" data-target="#reservationdatetime"
										 data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>

								{% for error in form.start_date.errors %}
									<span class="text-danger">{{ error|escape }}</span>
									<br>
								{% endfor %}

							</div>
						</div>
						<!-- /.card-body -->
					</div>
				</div>
					<!-- /.card -->
				<div class="col-lg-6">
					<div class="card card-primary">
						<div class="card-header">
						  <h3 class="card-title">Members</h3>
							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
						  	<div class="row">
								<!-- /.col -->
								<div class="col-md-12">
									<div class="form-group">
										<label>Members</label>
										<select class="select2" multiple="multiple" data-placeholder="Select Members" name="members" style="width: 100%;">
											{% for member in all_members %}
												<option value="{{member.id}}" data-image-url="{{member.image}}">
														<span class="d-block">{{member.get_full_name}}</span>
												</option>
											{% endfor %}
										</select>
										{% for error in form.members.errors %}
											<span class="text-danger">{{ error|escape }}</span>
											<br>
										{% endfor %}
									</div>
								</div>
								<!-- /.col -->
							</div>
						  	<!-- /.row -->
						</div>
						<!-- /.card-body -->
					</div>
				</div>
					<!-- /.card -->

				{% comment %}

					<div class="col-md-6">
						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Budget</h3>

								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse"
											title="Collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="inputEstimatedBudget">Estimated budget</label>
									<input type="number" id="inputEstimatedBudget" class="form-control">
								</div>
								<div class="form-group">
									<label for="inputSpentBudget">Total amount spent</label>
									<input type="number" id="inputSpentBudget" class="form-control">
								</div>
								<div class="form-group">
									<label for="inputEstimatedDuration">Estimated project duration</label>
									<input type="number" id="inputEstimatedDuration" class="form-control">
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
				{% endcomment %}
			</div>
			<div class="row">
				<div class="col-lg-6">
					<a href="." class="btn btn-secondary">Cancel</a>
					<input class="btn btn-success float-right" type="submit" value="Create new Porject" >
				</div>
			</div>
		</form>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock content-wrapper %}
{% block custom_js %}

	{% comment %} Select 2 {% endcomment %}
	<script src="{% static 'account/vendor/select2/js/select2.full.min.js' %}"></script>
	<!-- ION slider -->
	<script src="{% static 'account/vendor/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>

	<script>
		$(function () {
			// ION slider
			$('#progress_slidebar').ionRangeSlider({
				min     : 0,
				max     : 100,
				type    : 'single',
				step    : 1,
				postfix : ' %',
				prettify: false,
				hasGrid : true
			  });

			//Initialize Select2 Elements
			$('.select2').select2({
				templateSelection:function(state){
					var image_url = $(state.element).data('image-url');
					var $state = $(
						'<div class="user-panel"><div class="image p-1"><img class="img-circle elevation-2" src="/' 
						+image_url 
						+'"/></div>'
						+'<div class="info d-inline-flex"><span class="d-block">'
						+state.text
						+'</span></div></div>'
					);
					return $state;
				},
				templateResult: function(state){
					var image_url = $(state.element).data('image-url');
					var $state = $(
						'<div class="user-panel"><div class="image p-1"><img class="img-circle elevation-2" src="/' 
						+image_url 
						+'"/></div>'
						+'<div class="info d-inline-flex"><span class="d-block">'
						+state.text
						+'</span></div></div>'
					);
					return $state;
				}
			});

			// Showing form errors 
			{% if form.errors %}
				Toast.fire({'icon':'error','title':'{{ form.errors }}'});
			{% endif %}

			//Date and time picker
			$('#reservationdatetime').datetimepicker({
				format: 'YYYY-MM-DD HH:mm:ss',
				icons: { time: 'far fa-clock' } 
			});
		});
	</script>
{% endblock custom_js %}